.footer {
    background-color: $primary-color;
    

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 50px;
        font-family: $primary-font-stack;

        @media only screen and ($mobileXXL) {
            display: grid;
            grid-template-areas: 
            "a a b b"
            "c c d d"
            "  e e  ";
            gap: 50px;
        }

        @media only screen and ($desktopXL) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
        }

        .col {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: $light-color;
            line-height: 1.5;
            font-weight: 100;

            .heading {
                padding-bottom: 30px;
                @media only screen and ($desktopXL) {
                    
                    padding-bottom: 20px;
                }

                @media only screen and ($mobileXXL) {
                    height: 70px;
                    padding-bottom: 20px;
                }

                h1 {
                    text-transform: uppercase;
                    font-weight: 100;
                    font-size: 1.7rem;
                }

                h2 {
                    text-transform: uppercase;
                    font-weight: 100;
                    font-size: 1.3rem;
                }
            }

            p {
                font-size: 20px;
            }

            a {
                text-decoration: none;
                color: $light-color;
                font-size: 20px;
                font-family: $primary-font-stack;
            }
            
        }
        .social {

            @media only screen and ($desktopXL) {
                a{
                    display: flex;
                    font-size: 30px;
                    
                    .icon {
                        width: 20%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .text {
                        
                    }
                }
            }

            @media only screen and ($mobileXXL) {
                
            }
            


        }
    }
    
}

