.nova-klopa {
    font-family: $primary-font-stack;
    
    .novo-content {
        border-radius: 15px;
        box-shadow: $box-shadow;
        margin: 0 20px;
        display: grid;
        grid-template-areas: "text text text"
                            "burger burger burger"
                            "bgtext bgtext bgtext";
        align-items: center;
        padding: 10px;
        background: linear-gradient(180deg, $light-color 50%, $primary-color 50%);

        @media only screen and ($mobileXXL) {
            padding: 60px 40px;
            grid-template-areas: "text text text"
                                "burger burger ..."
                                "burger burger bgtext";
        }
                    
        @media only screen and ($desktopXXXL) {
            margin: 0;
            grid-template-areas: "text burger bgtext"
                                "text burger bgtext"
                                "text burger bgtext";
            grid-template-columns: 50% 30% 1fr;
            grid-template-rows: 1fr;
            background: linear-gradient(90deg, $light-color 65%, $primary-color 35%);
        }
    }

    .text {
        grid-area: text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background: $light-color;
        border-radius: 15px;

        @media only screen and ($desktop) {
            padding-right: 90px;
        }

        h2 {
            font-size: 2.2rem;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6rem;
            font-weight: 700;

            @media only screen and ($mobileXXL) {
                font-size: 1.3rem;
                line-height: 2.5rem;
            }
        }
    }

    .burger-image {
        grid-area: burger;
        min-width: 100%;

        @media only screen and ($desktopXXXL) {
            max-width: 100%;
        }

        img {
            width: 100%;
        }
    }

    .bg-text {
        grid-area: bgtext;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        transform: none;
                               
        @media only screen and ($desktopXXXL) {
            height: auto;
            transform: rotate(-90deg);
        }

        p {
            font-size: 2.5rem;
            width: max-content;
            font-weight: 700;
            color: lighten($primary-color, 10%);

            @media only screen and ($desktopXXXL) {
                font-size: 4.5rem;
            }
        }
    }
}