.ponuda {

    .ponuda-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        grid-gap: 40px;

        @media only screen and ($mobileXXL) {
            grid-gap: 20px;
            grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        }

        // @media only screen and ($desktopXXL) {
        //     grid-gap: 20px;
        //     grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        // }

        .content-box {
            padding: 20px;
            .box-img {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .box-txt {
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                background-color: $primary-color;
                font-family: $secondary-font-stack;
                transform: translateY(-60px);
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                height: 40%;

                span {
                    font-size: 1.5rem;
                    padding: 20px;
                    color: $dark-color;
                }

                p {
                    padding: 0 20px 20px 20px;
                    color: $light-color;
                }

                @media only screen and ($mobileM) {
                    // height: 37%;
                    span {
                        
                    }
    
                    p {
                        font-size: 1.2rem;
                    }
                }

                @media only screen and ($mobileX) {
                    height: 30%;
                    span {
                        
                    }
    
                    p {
                        font-size: 1.2rem;
                    }
                }

                @media only screen and ($mobileXL) {
                    height: 25%;

                    span {
                        font-size: 1.8rem;
                    }
    
                    p {
                        // font-size: 1.5rem;
                    }
                }

                @media only screen and ($mobileXXL) {
                    height: 20%;

                    span {
                        font-size: 2rem;
                    }
    
                    p {   
                        font-size: 1.5rem;
                    }
                    
                }

                @media only screen and ($tablet) {
                    height: 25%;

                    span {
                        font-size: 2.7rem;
                    }
    
                    p {   
                        font-size: 1.8rem;
                    }
                    
                }

                @media only screen and ($desktop) {
                    height: 30%;

                    span {
                        font-size: 2rem;
                    }
    
                    p {   
                        font-size: 1.5rem;
                    }
                    
                }

                @media only screen and ($desktopXL) {
                    // height: 30%;

                    span {
                        font-size: 1.5rem;
                    }
    
                    p {   
                        font-size: 1.2rem;
                    }
                    
                }


                
            }
            .gruja-txt {
                background-color: $secondary-color;
            }
        }
    }
}