.stations {
    
    .container {
        position: relative;
        width: 80%;
        margin: auto;
    }
    li {
        height: auto;

        img {
            width: 100%;
        }
    }

    .controls {
        font-size: 2.5rem;
        font-weight: 100;

        @media only screen and ($mobileXXL) {
            font-size: 5.5rem;  
            font-weight: 100; 
        }
        
        span {
            position: absolute;
            top: 35%;

            @media only screen and ($mobileXXL) {
                top: 43%; 
            }
        }

        .left {
            left: -20px;
            color: lighten($dark-color, 50%);

            @media only screen and ($mobileXXL) {
                left: -60px; 
            }
        }
        

        .right {
            right: -20px;
            color: lighten($dark-color, 50%);

            @media only screen and ($mobileXXL) {
                right: -60px; 
            }
        }
    }

    .stations-btn {
        position: absolute;
        bottom: 20px;
        right: 15px;
        font-size: 1.5rem;
        font-weight: 700;

        @media only screen and ($desktop) {
            font-size: 2.5rem;
        }

        &:hover {
            cursor: pointer;
        }

        input {
            padding: 5% 10%;
            font-family: $secondary-font-stack;
        }
    }

    .bulets {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        button {
            border: 0;
            width: 30px;
            height: 30px;
            background: lighten($dark-color, 70%);

            &.glide__bullet--active {
                background: $dark-color;
            }
        }

    }
}