.trw {
    .trw-content {
        width: 70%;
        margin: auto;

        p { 
            font-size: 1rem;
            text-align: center;
            padding: 20px 0;
            font-family: $secondary-font-stack;
            color: $dark-color;
        }

        @media only screen and ($tablet) {
            width: 80%;

            p {
                font-size: 1.5rem;
            }
        }

        @media only screen and ($desktop) {
            width: 80%;

            p {
                font-size: 2rem;
            }
        }

    }
}