.trw {
    width: 90%;
    margin: 0 auto;
    
    .trw-content {
        position: relative;
        margin: auto;
        border-radius: 10px;
        box-shadow: $box-shadow;
        margin-bottom: 20px;

        p { 
            font-size: 1.3rem;
            font-weight: 500;
            text-align: center;
            padding: 20px;
            font-family: $secondary-font-stack;
            color: $dark-color;
            margin-bottom: 10px;
            line-height: 1.2;

            @media only screen and ($tablet) {
                font-size: 1.5rem;
                padding: 40px;
            }
    
            @media only screen and ($desktop) {
                font-size: 2rem;
            }
        }


    }
}