@import url('http://fonts.cdnfonts.com/css/rockwell-nova');

$primary-color: #EB2026;
$secondary-color: #FBAF42;
$dark-color: #000;
$light-color: #fff;
$ribbonColor: $light-color;

// $header-background: linear-gradient(45deg, $secondary-color 0%,  $primary-color 100%);
$header-background: $primary-color;
$subheader-background: rgba(250,175,66, .5);

$font-stack: 'Rockwell Nova', sans-serif;