@import url('http://fonts.cdnfonts.com/css/rockwell-nova');
@import url('http://fonts.cdnfonts.com/css/roboto');

$primary-font-stack: 'Rockwell Nova', sans-serif;
$secondary-font-stack: 'Roboto', sans-serif;

$primary-color: #EB2026;
$secondary-color: #FBAF42;
$dark-color: #000;
$light-color: #fff;
$ribbon-color: $primary-color;
$ribbon-text-color: $light-color;
$ribbon-font: $secondary-font-stack;
$navigation-font: $primary-font-stack;


// $header-background: linear-gradient(45deg, $secondary-color 0%,  $primary-color 100%);
$header-background: $primary-color;
$subheader-background: rgba(250,175,66, .5);

$mobileL: 'min-width:360px';
$mobileXL: 'min-width:480px';
$mobileXXL: 'min-width:640px';
$tablet: 'min-width:768px';
$desktop: 'min-width:1024px';
$desktopXL: 'min-width:1102px';
$desktopXXL: 'min-width:1200px';
$desktopXXXL: 'min-width:1400px';
$desktopXXXXL: 'min-width:1600px';
